$color-responsive:#0000EC;
$celeste: #00F3BB;
$title: 'IBM Plex Sans', sans-serif;
$parrafo: 'IBM Plex Mono', monospace;
$gradiente: linear-gradient(to bottom, #0000FF, #0000A3);
$subtitle: 'IBM Plex Sans-SemiBold', sans-serif;